%section.fdb-block.text-center.pt-5
    %h1 Minesweeper board generator
    %br/
    .fdb-box.fdb-touch.pt-10{ style: "width: 90%; margin: 0 auto; min-height: 70vh" }
        .row
            .col-6
                = render 'sidebar'
                = link_to 'View all generated boards', minesweeper_boards_path, class: 'btn btn-primary'
            .col-6
                = render 'form'
